<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Listeners TestSuite">
<listeners>
	<listener class-name="runner.CustomListeners"></listener>
</listeners>
<test name="Application Test 1">
	<classes>
		<class name="runner.Test1"></class>
		<class name="runner.Test2"></class>
	</classes>
</test>
</suite> <!-- Suite -->
